.navbar {
  background-color: #002e4e;
  padding: 0px !important;
}

.navbar a {
  color: #FFF !important;
}

.navbar .opcoes li {
  padding: 20px;
}

.navbar li {
  display: inline-block;
  position: relative;
  color: #9e5c29;
}

.navbar li:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9e5c29;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar a i{
  width: 20px;
  height: auto;
  padding: 5px;
}

.navbar img{
  height: 100px;
  width: auto;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler {
  border-color: #002e4e !important;
} 