<!DOCTYPE html>
<html>
<head>
    <title>Beauty Style - Sobre</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../styles/sobre.css">
    <link rel="stylesheet" type="text/css" href="../styles/nav-bar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../script/nav-bar.js"></script>
    <style>body { margin: 0; font-family: Arial, Helvetica, sans-serif; }</style>
</head>
<body>

    <div class="topnav" id="topnav">
        <a href="home.html">Home</a>
        <a href="sobre.html" class="active  bold striked">Sobre</a>
        <a href="galeria.html">Galeria</a>
        <a href="servicos.html">Serviços</a>
        <a href="contato.html">Contato</a>
        <a href="javascript:void(0);" class="icon" onclick="onMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    <script>
        function onMenu() {
            var x = document.getElementById("topnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</body>
</html>